CREATE DATABASE BAOHIEM
GO

USE [BAOHIEM]
GO


/****** Object:  User [user_admin]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE USER [user_admin] FOR LOGIN [user_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_gs]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE USER [user_gs] FOR LOGIN [user_gs] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_kt]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE USER [user_kt] FOR LOGIN [user_kt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_lhd]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE USER [user_lhd] FOR LOGIN [user_lhd] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_nbh]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE USER [user_nbh] FOR LOGIN [user_nbh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE ROLE [ADMIN]
GO
/****** Object:  DatabaseRole [GIAM_SAT]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE ROLE [GIAM_SAT]
GO
/****** Object:  DatabaseRole [KE_TOAN]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE ROLE [KE_TOAN]
GO
/****** Object:  DatabaseRole [LAP_HOP_DONG]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE ROLE [LAP_HOP_DONG]
GO
/****** Object:  DatabaseRole [NGUOI_BAO_HIEM]    Script Date: 28/05/2025 1:42:13 CH ******/
CREATE ROLE [NGUOI_BAO_HIEM]
GO

ALTER ROLE [ADMIN] ADD MEMBER [user_admin]
GO
ALTER ROLE [GIAM_SAT] ADD MEMBER [user_gs]
GO
ALTER ROLE [KE_TOAN] ADD MEMBER [user_kt]
GO
ALTER ROLE [LAP_HOP_DONG] ADD MEMBER [user_lhd]
GO
ALTER ROLE [NGUOI_BAO_HIEM] ADD MEMBER [user_nbh]
GO
/****** Object:  Table [dbo].[GIAMSAT]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMSAT](
	[MaGiamSat] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaLoaiBH] [int] NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiamSat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGBH]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGBH](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNBH] [int] NULL,
	[MaLoaiBH] [int] NULL,
	[MaLapHopDong] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETOAN]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETOAN](
	[MaKeToan] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaLoaiBH] [int] NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKeToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIBAOHIEM]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBAOHIEM](
	[MaLoaiBH] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiBH] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIBAOHIEM]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIBAOHIEM](
	[MaNBH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChiThuongTru] [nvarchar](255) NULL,
	[DiaChiTamTru] [nvarchar](255) NULL,
	[DiaChiLienLac] [nvarchar](255) NULL,
	[CoQuanCongTac] [nvarchar](100) NULL,
	[LichSuBenh] [nvarchar](max) NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[VaiTro] [varchar](20) NOT NULL,
	[NgayTao] [datetime] NULL,
	[Salt] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOILAPHOPDONG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOILAPHOPDONG](
	[MaLapHopDong] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLapHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATKYHOATDONG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATKYHOATDONG](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[HanhDong] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayThanhToan] [date] NULL,
	[SoTien] [decimal](18, 2) NULL,
	[PhuongThucThanhToan] [varchar](50) NULL,
	[TrangThai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GIAMSAT] ON 

INSERT [dbo].[GIAMSAT] ([MaGiamSat], [HoTen], [MaLoaiBH], [MaNguoiDung]) VALUES (1, N'Phạm Thị D', 1, 4)
SET IDENTITY_INSERT [dbo].[GIAMSAT] OFF
GO
SET IDENTITY_INSERT [dbo].[HOPDONGBH] ON 

INSERT [dbo].[HOPDONGBH] ([MaHD], [MaNBH], [MaLoaiBH], [MaLapHopDong], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (1, 1, 2, 1, CAST(N'2025-05-25' AS Date), CAST(N'2030-05-25' AS Date), N'HIEU_LUC')
INSERT [dbo].[HOPDONGBH] ([MaHD], [MaNBH], [MaLoaiBH], [MaLapHopDong], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (5, 1, 1, 1, CAST(N'2025-05-25' AS Date), CAST(N'2030-05-25' AS Date), N'HIEU_LUC')
SET IDENTITY_INSERT [dbo].[HOPDONGBH] OFF
GO
SET IDENTITY_INSERT [dbo].[KETOAN] ON 

INSERT [dbo].[KETOAN] ([MaKeToan], [HoTen], [MaLoaiBH], [MaNguoiDung]) VALUES (1, N'Nguyễn Văn C', 1, 3)
SET IDENTITY_INSERT [dbo].[KETOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIBAOHIEM] ON 

INSERT [dbo].[LOAIBAOHIEM] ([MaLoaiBH], [TenLoaiBH], [MoTa]) VALUES (1, N'Bảo hiểm y tế', N'Bảo hiểm cho chi phí khám chữa bệnh')
INSERT [dbo].[LOAIBAOHIEM] ([MaLoaiBH], [TenLoaiBH], [MoTa]) VALUES (2, N'Bảo hiểm tai nạn', N'Bảo hiểm cho các tai nạn không may xảy ra')
INSERT [dbo].[LOAIBAOHIEM] ([MaLoaiBH], [TenLoaiBH], [MoTa]) VALUES (3, N'Bảo hiểm y tế', N'Bảo hiểm cho chi phí khám chữa bệnh')
SET IDENTITY_INSERT [dbo].[LOAIBAOHIEM] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIBAOHIEM] ON 

INSERT [dbo].[NGUOIBAOHIEM] ([MaNBH], [HoTen], [GioiTinh], [NgaySinh], [DiaChiThuongTru], [DiaChiTamTru], [DiaChiLienLac], [CoQuanCongTac], [LichSuBenh], [MaNguoiDung]) VALUES (1, N'Trần Thị B', N'Nu', CAST(N'1988-07-13' AS Date), N'', N'', N'', N'', N'', 5)
INSERT [dbo].[NGUOIBAOHIEM] ([MaNBH], [HoTen], [GioiTinh], [NgaySinh], [DiaChiThuongTru], [DiaChiTamTru], [DiaChiLienLac], [CoQuanCongTac], [LichSuBenh], [MaNguoiDung]) VALUES (2, N'Nguyễn Văn A', N'Nam', CAST(N'2000-01-01' AS Date), NULL, NULL, NULL, NULL, NULL, 6)
INSERT [dbo].[NGUOIBAOHIEM] ([MaNBH], [HoTen], [GioiTinh], [NgaySinh], [DiaChiThuongTru], [DiaChiTamTru], [DiaChiLienLac], [CoQuanCongTac], [LichSuBenh], [MaNguoiDung]) VALUES (3, N'Nguyễn Thị C', N'Nu', CAST(N'1999-06-02' AS Date), N'TP.HCM', N'', N'', N'', N'', NULL)
SET IDENTITY_INSERT [dbo].[NGUOIBAOHIEM] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [VaiTro], [NgayTao], [Salt]) VALUES (1, N'Admin123', N'B4FF61C5119497BF2650520CD5983ADE9900F74494552B311B9A821A04D6C950', N'ADMIN', CAST(N'2025-05-25T20:24:22.187' AS DateTime), N'B305911C-0172-4C7D-A6F0-E33206750405')
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [VaiTro], [NgayTao], [Salt]) VALUES (2, N'lhd1', N'D0D33424192560912683BE3D29FC57CB5ED8D7FFBA5C0F710B83EF7C0AF49772', N'LAP_HOP_DONG', CAST(N'2025-05-25T20:24:28.440' AS DateTime), N'1413D28E-D70F-4FAE-A165-307DFBFB53CF')
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenDangNhap], [MatKhau], [VaiTro], [NgayTao], [Salt]) VALUES (3, N'kt1', N'35540DC31CA3924B3061E71E320E3A2FCB1E7111F2A55750F52E105488EDA407', N'KE_TOAN', CAST(N'2025-05-25T20:24:28.447' AS DateTime), N'EF7E259F-BE2A-41C0-89B0-170EE8662071')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOILAPHOPDONG] ON 

INSERT [dbo].[NGUOILAPHOPDONG] ([MaLapHopDong], [HoTen], [SDT], [Email], [MaNguoiDung]) VALUES (1, N'Nguyễn Văn A', N'0909123456', N'nguyenvana@example.com', 2)
SET IDENTITY_INSERT [dbo].[NGUOILAPHOPDONG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHATKYHOATDONG] ON 

INSERT [dbo].[NHATKYHOATDONG] ([MaLog], [MaNguoiDung], [HanhDong], [ThoiGian]) VALUES (1, NULL, N'Thêm người dùng mới thành công', CAST(N'2025-05-25T20:24:22.190' AS DateTime))
INSERT [dbo].[NHATKYHOATDONG] ([MaLog], [MaNguoiDung], [HanhDong], [ThoiGian]) VALUES (2, NULL, N'Thêm người dùng mới thành công', CAST(N'2025-05-25T20:24:28.447' AS DateTime))
INSERT [dbo].[NHATKYHOATDONG] ([MaLog], [MaNguoiDung], [HanhDong], [ThoiGian]) VALUES (3, NULL, N'Thêm người dùng mới thành công', CAST(N'2025-05-25T20:24:28.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[NHATKYHOATDONG] OFF
GO
SET IDENTITY_INSERT [dbo].[THANHTOAN] ON 

INSERT [dbo].[THANHTOAN] ([MaThanhToan], [MaHD], [NgayThanhToan], [SoTien], [PhuongThucThanhToan], [TrangThai]) VALUES (2, 1, CAST(N'2025-05-28' AS Date), CAST(5000000.00 AS Decimal(18, 2)), N'TIEN_MAT', N'THANH_CONG')
SET IDENTITY_INSERT [dbo].[THANHTOAN] OFF
GO
/****** Object:  Index [UQ__GIAMSAT__C539D7632826A611]    Script Date: 28/05/2025 1:42:14 CH ******/
ALTER TABLE [dbo].[GIAMSAT] ADD UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__KETOAN__C539D76333CCE0A4]    Script Date: 28/05/2025 1:42:14 CH ******/
ALTER TABLE [dbo].[KETOAN] ADD UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__NGUOIBAO__C539D7632C71579E]    Script Date: 28/05/2025 1:42:14 CH ******/
ALTER TABLE [dbo].[NGUOIBAOHIEM] ADD UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOIDUN__55F68FC0137C3279]    Script Date: 28/05/2025 1:42:14 CH ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__NGUOILAP__C539D7633B04B15D]    Script Date: 28/05/2025 1:42:14 CH ******/
ALTER TABLE [dbo].[NGUOILAPHOPDONG] ADD UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NHATKYHOATDONG] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[GIAMSAT]  WITH CHECK ADD FOREIGN KEY([MaLoaiBH])
REFERENCES [dbo].[LOAIBAOHIEM] ([MaLoaiBH])
GO
ALTER TABLE [dbo].[GIAMSAT]  WITH CHECK ADD  CONSTRAINT [FK_GIAMSAT_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIAMSAT] CHECK CONSTRAINT [FK_GIAMSAT_MaNguoiDung]
GO
ALTER TABLE [dbo].[HOPDONGBH]  WITH CHECK ADD FOREIGN KEY([MaLapHopDong])
REFERENCES [dbo].[NGUOILAPHOPDONG] ([MaLapHopDong])
GO
ALTER TABLE [dbo].[HOPDONGBH]  WITH CHECK ADD FOREIGN KEY([MaLoaiBH])
REFERENCES [dbo].[LOAIBAOHIEM] ([MaLoaiBH])
GO
ALTER TABLE [dbo].[HOPDONGBH]  WITH CHECK ADD FOREIGN KEY([MaNBH])
REFERENCES [dbo].[NGUOIBAOHIEM] ([MaNBH])
GO
ALTER TABLE [dbo].[KETOAN]  WITH CHECK ADD FOREIGN KEY([MaLoaiBH])
REFERENCES [dbo].[LOAIBAOHIEM] ([MaLoaiBH])
GO
ALTER TABLE [dbo].[KETOAN]  WITH CHECK ADD  CONSTRAINT [FK_KETOAN_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KETOAN] CHECK CONSTRAINT [FK_KETOAN_MaNguoiDung]
GO
ALTER TABLE [dbo].[NGUOIBAOHIEM]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIBAOHIEM_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NGUOIBAOHIEM] CHECK CONSTRAINT [FK_NGUOIBAOHIEM_MaNguoiDung]
GO
ALTER TABLE [dbo].[NGUOILAPHOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOILAPHOPDONG_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NGUOILAPHOPDONG] CHECK CONSTRAINT [FK_NGUOILAPHOPDONG_MaNguoiDung]
GO
ALTER TABLE [dbo].[NHATKYHOATDONG]  WITH CHECK ADD  CONSTRAINT [FK_NHATKYHOATDONG_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHATKYHOATDONG] CHECK CONSTRAINT [FK_NHATKYHOATDONG_MaNguoiDung]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONGBH] ([MaHD])
GO
ALTER TABLE [dbo].[HOPDONGBH]  WITH CHECK ADD CHECK  (([TrangThai]='DA_HUY' OR [TrangThai]='HET_HAN' OR [TrangThai]='HIEU_LUC'))
GO
ALTER TABLE [dbo].[NGUOIBAOHIEM]  WITH CHECK ADD CHECK  (([GioiTinh]='Khac' OR [GioiTinh]='Nu' OR [GioiTinh]='Nam'))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([VaiTro]='NGUOI_BAO_HIEM' OR [VaiTro]='ADMIN' OR [VaiTro]='GIAM_SAT' OR [VaiTro]='KE_TOAN' OR [VaiTro]='LAP_HOP_DONG'))
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD CHECK  (([TrangThai]='THAT_BAI' OR [TrangThai]='THANH_CONG'))
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_HOPDONG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAPNHAT_HOPDONG]
    @MaHD INT,
    @MaLoaiBH VARCHAR(20),
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TrangThai NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra hợp đồng có tồn tại không
    IF EXISTS (SELECT 1 FROM HOPDONGBH WHERE MaHD = @MaHD)
    BEGIN
        UPDATE HOPDONGBH
        SET
            MaLoaiBH = @MaLoaiBH,
            NgayBatDau = @NgayBatDau,
            NgayKetThuc = @NgayKetThuc,
            TrangThai = @TrangThai
        WHERE MaHD = @MaHD;
    END
    ELSE
    BEGIN
        RAISERROR(N'Hợp đồng không tồn tại.', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_NGUOI_BAO_HIEM]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CAPNHAT_NGUOI_BAO_HIEM]
    @MaNguoiDung INT,
    @MaNBH INT,
    @HoTen NVARCHAR(100),
    @GioiTinh VARCHAR(10),
    @NgaySinh DATE,
    @DiaChiThuongTru NVARCHAR(255) = NULL,
    @DiaChiTamTru NVARCHAR(255) = NULL,
    @DiaChiLienLac NVARCHAR(255) = NULL,
    @CoQuanCongTac NVARCHAR(100) = NULL,
    @LichSuBenh NVARCHAR(MAX) = NULL
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM NGUOIDUNG
        WHERE MaNguoiDung = @MaNguoiDung
        AND VaiTro IN ('ADMIN', 'LAP_HOP_DONG')
    )
    BEGIN
        UPDATE NGUOIBAOHIEM
        SET HoTen = @HoTen,
            GioiTinh = @GioiTinh,
            NgaySinh = @NgaySinh,
            DiaChiThuongTru = @DiaChiThuongTru,
            DiaChiTamTru = @DiaChiTamTru,
            DiaChiLienLac = @DiaChiLienLac,
            CoQuanCongTac = @CoQuanCongTac,
            LichSuBenh = @LichSuBenh
        WHERE MaNBH = @MaNBH

        -- Ghi log
        EXEC SP_GHI_LOG @MaNguoiDung, N'Cập nhật người được bảo hiểm thành công '
    END
    ELSE
    BEGIN
        RAISERROR(N'Không có quyền cập nhật người được bảo hiểm.', 16, 1)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_NGUOIDUNG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================
-- Cập nhật người dùng (chỉ ADMIN được thực hiện)
-- ========================================
CREATE   PROCEDURE [dbo].[SP_CAPNHAT_NGUOIDUNG]
    @MaNguoiDungCanCapNhat INT,
    @TenDangNhap VARCHAR(50),
    @MatKhau VARCHAR(100),
    @VaiTro VARCHAR(20),
    @MaNguoiDung INT  -- Người thực hiện (ADMIN)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra quyền admin
    IF NOT EXISTS (
        SELECT 1 FROM NGUOIDUNG WHERE MaNguoiDung = @MaNguoiDung AND VaiTro = 'ADMIN'
    )
    BEGIN
        RAISERROR(N'Bạn không có quyền cập nhật người dùng!', 16, 1);
        RETURN;
    END

    -- Kiểm tra người dùng cần cập nhật có tồn tại không
    IF NOT EXISTS (
        SELECT 1 FROM NGUOIDUNG WHERE MaNguoiDung = @MaNguoiDungCanCapNhat
    )
    BEGIN
        RAISERROR(N'Người dùng cần cập nhật không tồn tại!', 16, 1);
        RETURN;
    END

    -- Tạo Salt mới
    DECLARE @Salt VARCHAR(50) = CONVERT(VARCHAR(50), NEWID());

    -- Mã hóa mật khẩu mới
    DECLARE @MatKhauDaMaHoa VARBINARY(64);
    SET @MatKhauDaMaHoa = HASHBYTES('SHA2_256', @MatKhau + @Salt);

    -- Cập nhật người dùng
    UPDATE NGUOIDUNG
    SET 
        TenDangNhap = @TenDangNhap,
        MatKhau = CONVERT(VARCHAR(100), @MatKhauDaMaHoa, 2),
        VaiTro = @VaiTro,
        Salt = @Salt
    WHERE MaNguoiDung = @MaNguoiDungCanCapNhat;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_THANHTOAN]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure cập nhật thanh toán, chỉ kế toán và admin được thực hiện, có ghi log
CREATE   PROCEDURE [dbo].[SP_CAPNHAT_THANHTOAN]
    @MaThanhToan INT,
    @MaHD INT,
    @NgayThanhToan DATE,
    @SoTien DECIMAL(18,2),
    @PhuongThucThanhToan VARCHAR(50),
    @TrangThai VARCHAR(20)
AS
BEGIN
    DECLARE @CurrentUser INT;
    SELECT @CurrentUser = MaNguoiDung FROM NGUOIDUNG WHERE TenDangNhap = SUSER_SNAME();

    IF IS_ROLEMEMBER('KE_TOAN') = 1 OR IS_ROLEMEMBER('ADMIN') = 1
    BEGIN
        UPDATE THANHTOAN
        SET MaHD = @MaHD,
            NgayThanhToan = @NgayThanhToan,
            SoTien = @SoTien,
            PhuongThucThanhToan = @PhuongThucThanhToan,
            TrangThai = @TrangThai
        WHERE MaThanhToan = @MaThanhToan;

        EXEC SP_GHI_LOG @MaNguoiDung = @CurrentUser, @HanhDong = N'Cập nhật thanh toán thành công';
    END
    ELSE
    BEGIN
        RAISERROR(N'Bạn không có quyền thực hiện hành động này.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHI_LOG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GHI_LOG]
    @MaNguoiDung INT,
    @HanhDong NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO NHATKYHOATDONG (MaNguoiDung, HanhDong)
    VALUES (@MaNguoiDung, @HanhDong);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRA_DANGNHAP]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_KIEMTRA_DANGNHAP]
    @TenDangNhap VARCHAR(50),
    @MatKhau VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Salt VARCHAR(50);
    DECLARE @MatKhauHash VARBINARY(64);
    DECLARE @MatKhauHashHex VARCHAR(100);

    -- Lấy Salt
    SELECT @Salt = Salt FROM NGUOIDUNG WHERE TenDangNhap = @TenDangNhap;

    IF @Salt IS NULL
    BEGIN
        RAISERROR(N'Đăng nhập thất bại: Tài khoản không tồn tại.', 16, 1);
        RETURN;
    END

    -- Tính toán mật khẩu mã hóa kèm salt
    SET @MatKhauHash = HASHBYTES('SHA2_256', @MatKhau + @Salt);
    SET @MatKhauHashHex = CONVERT(VARCHAR(100), @MatKhauHash, 2);

    -- So sánh và trả về thông tin
    IF EXISTS (
        SELECT 1 FROM NGUOIDUNG
        WHERE TenDangNhap = @TenDangNhap AND MatKhau = @MatKhauHashHex
    )
    BEGIN
        SELECT MaNguoiDung, TenDangNhap, VaiTro
        FROM NGUOIDUNG
        WHERE TenDangNhap = @TenDangNhap;
    END
    ELSE
    BEGIN
        RAISERROR(N'Đăng nhập thất bại: Mật khẩu không đúng.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_HOPDONGBH]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_THEM_HOPDONGBH]
    @MaNBH INT,
    @MaLoaiBH INT,
    @NgayBatDau DATE,
    @NgayKetThuc DATE,
    @TrangThai VARCHAR(20),
    @MaLapHopDong INT  -- Truyền trực tiếp mã lập hợp đồng
AS
BEGIN
    SET NOCOUNT ON;

    IF @NgayBatDau > @NgayKetThuc
    BEGIN
        RAISERROR('Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc.', 16, 1);
        RETURN;
    END

    -- Kiểm tra tồn tại người được bảo hiểm
    IF NOT EXISTS (SELECT 1 FROM NGUOIBAOHIEM WHERE MaNBH = @MaNBH)
    BEGIN
        RAISERROR('Người được bảo hiểm không tồn tại.', 16, 1);
        RETURN;
    END

    -- Kiểm tra tồn tại loại bảo hiểm
    IF NOT EXISTS (SELECT 1 FROM LOAIBAOHIEM WHERE MaLoaiBH = @MaLoaiBH)
    BEGIN
        RAISERROR('Loại bảo hiểm không tồn tại.', 16, 1);
        RETURN;
    END

    -- Kiểm tra tồn tại người lập hợp đồng
    IF NOT EXISTS (SELECT 1 FROM NGUOILAPHOPDONG WHERE MaLapHopDong = @MaLapHopDong)
    BEGIN
        RAISERROR('Người lập hợp đồng không tồn tại.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO HOPDONGBH(MaNBH, MaLoaiBH, NgayBatDau, NgayKetThuc, TrangThai, MaLapHopDong)
        VALUES (@MaNBH, @MaLoaiBH, @NgayBatDau, @NgayKetThuc, @TrangThai, @MaLapHopDong);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NGUOI_BAO_HIEM]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_THEM_NGUOI_BAO_HIEM]
    @MaNguoiDung INT,
    @HoTen NVARCHAR(100),
    @GioiTinh VARCHAR(10),
    @NgaySinh DATE,
    @DiaChiThuongTru NVARCHAR(255) = NULL,
    @DiaChiTamTru NVARCHAR(255) = NULL,
    @DiaChiLienLac NVARCHAR(255) = NULL,
    @CoQuanCongTac NVARCHAR(100) = NULL,
    @LichSuBenh NVARCHAR(MAX) = NULL
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM NGUOIDUNG
        WHERE MaNguoiDung = @MaNguoiDung
        AND VaiTro IN ('ADMIN', 'LAP_HOP_DONG')
    )
    BEGIN
        INSERT INTO NGUOIBAOHIEM (
            HoTen, GioiTinh, NgaySinh,
            DiaChiThuongTru, DiaChiTamTru, DiaChiLienLac,
            CoQuanCongTac, LichSuBenh
        )
        VALUES (
            @HoTen, @GioiTinh, @NgaySinh,
            @DiaChiThuongTru, @DiaChiTamTru, @DiaChiLienLac,
            @CoQuanCongTac, @LichSuBenh
        )

        -- Ghi log
        EXEC SP_GHI_LOG @MaNguoiDung, N'Thêm người được bảo hiểm thành công '
    END
    ELSE
    BEGIN
        RAISERROR(N'Không có quyền thêm người được bảo hiểm.', 16, 1)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NGUOIDUNG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_THEM_NGUOIDUNG]
    @TenDangNhap VARCHAR(50),
    @MatKhau VARCHAR(100),
    @VaiTro VARCHAR(20),
    @MaNguoiDung INT  -- Người gọi thực hiện (ADMIN)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra quyền
    IF NOT EXISTS (
        SELECT 1 FROM NGUOIDUNG WHERE MaNguoiDung = @MaNguoiDung AND VaiTro = 'ADMIN'
    )
    BEGIN
        RAISERROR(N'Bạn không có quyền thực hiện thao tác này!', 16, 1);
        RETURN;
    END

    -- Kiểm tra tài khoản đã tồn tại chưa
    IF EXISTS (
        SELECT 1 FROM NGUOIDUNG WHERE TenDangNhap = @TenDangNhap
    )
    BEGIN
        RAISERROR(N'Tên đăng nhập đã tồn tại!', 16, 1);
        RETURN;
    END

    -- Tạo Salt ngẫu nhiên
    DECLARE @Salt VARCHAR(50) = CONVERT(VARCHAR(50), NEWID());

    -- Mã hóa mật khẩu bằng SHA256 + Salt
    DECLARE @MatKhauDaMaHoa VARBINARY(64);
    SET @MatKhauDaMaHoa = HASHBYTES('SHA2_256', @MatKhau + @Salt);

    -- Thêm người dùng
    INSERT INTO NGUOIDUNG (TenDangNhap, MatKhau, VaiTro, Salt)
    VALUES (
        @TenDangNhap,
        CONVERT(VARCHAR(100), @MatKhauDaMaHoa, 2),
        @VaiTro,
        @Salt
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_THANHTOAN]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_THEM_THANHTOAN]
    @MaHD INT,
    @NgayThanhToan DATE,
    @SoTien DECIMAL(18,2),
    @PhuongThucThanhToan VARCHAR(50),
    @TrangThai VARCHAR(20)
AS
BEGIN
    DECLARE @CurrentUser INT;

    BEGIN TRY
        -- Lấy mã người dùng hiện tại dựa trên tên đăng nhập hệ thống
        SELECT @CurrentUser = MaNguoiDung FROM NGUOIDUNG WHERE TenDangNhap = SUSER_SNAME();

        -- Kiểm tra quyền: chỉ kế toán hoặc admin mới được thêm thanh toán
        IF IS_ROLEMEMBER('KE_TOAN') = 1 OR IS_ROLEMEMBER('ADMIN') = 1
        BEGIN
            -- Kiểm tra hợp đồng có tồn tại không
            IF NOT EXISTS (SELECT 1 FROM HOPDONGBH WHERE MaHD = @MaHD)
            BEGIN
                RAISERROR(N'Hợp đồng không tồn tại.', 16, 1);
                RETURN;
            END

            -- Thêm thanh toán
            INSERT INTO THANHTOAN (MaHD, NgayThanhToan, SoTien, PhuongThucThanhToan, TrangThai)
            VALUES (@MaHD, @NgayThanhToan, @SoTien, @PhuongThucThanhToan, @TrangThai);

            -- Ghi log thao tác
            EXEC SP_GHI_LOG 
                @MaNguoiDung = @CurrentUser, 
                @HanhDong = N'Thêm thanh toán cho hợp đồng thành công';
        END
        ELSE
        BEGIN
            RAISERROR(N'Bạn không có quyền thực hiện hành động này.', 16, 1);
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_HOPDONG_CA_NHAN]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XEM_HOPDONG_CA_NHAN]
AS
BEGIN
    DECLARE @CurrentUser INT;
    SELECT @CurrentUser = MaNguoiDung FROM NGUOIDUNG WHERE TenDangNhap = SUSER_SNAME();

    IF IS_ROLEMEMBER('NGUOI_BAO_HIEM') = 1
    BEGIN
        SELECT hd.*
        FROM HOPDONGBH hd
        INNER JOIN NGUOIBAOHIEM nbh ON hd.MaNBH = nbh.MaNBH
        WHERE nbh.MaNguoiDung = @CurrentUser;
    END
    ELSE IF IS_ROLEMEMBER('ADMIN') = 1 OR IS_ROLEMEMBER('GIAM_SAT') = 1 OR IS_ROLEMEMBER('KE_TOAN') = 1 OR IS_ROLEMEMBER('LAP_HOP_DONG') = 1
    BEGIN
        SELECT * FROM HOPDONGBH;
    END
    ELSE
    BEGIN
        RAISERROR('Bạn không có quyền xem dữ liệu này.',16,1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XEM_THONGTIN_NGUOIBAOHIEM]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XEM_THONGTIN_NGUOIBAOHIEM]
AS
BEGIN
    DECLARE @CurrentUser INT;
    SELECT @CurrentUser = MaNguoiDung FROM NGUOIDUNG WHERE TenDangNhap = SUSER_SNAME();

    IF IS_ROLEMEMBER('NGUOI_BAO_HIEM') = 1
    BEGIN
        SELECT * FROM NGUOIBAOHIEM WHERE MaNguoiDung = @CurrentUser;
    END
    ELSE IF IS_ROLEMEMBER('ADMIN') = 1 OR IS_ROLEMEMBER('GIAM_SAT') = 1 OR IS_ROLEMEMBER('KE_TOAN') = 1 OR IS_ROLEMEMBER('LAP_HOP_DONG') = 1
    BEGIN
        SELECT * FROM NGUOIBAOHIEM;
    END
    ELSE
    BEGIN
        RAISERROR('Bạn không có quyền xem dữ liệu này.',16,1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_HOPDONG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XOA_HOPDONG]
    @MaHD INT,
    @MaNguoiDung INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Chỉ cho phép vai trò 'ADMIN' hoặc 'LAP_HOP_DONG' xóa hợp đồng
    IF IS_ROLEMEMBER('ADMIN') = 0 AND IS_ROLEMEMBER('LAP_HOP_DONG') = 0
    BEGIN
        RAISERROR(N'Bạn không có quyền xóa hợp đồng.', 16, 1);
        RETURN;
    END

    -- Kiểm tra hợp đồng tồn tại
    IF NOT EXISTS (SELECT 1 FROM HOPDONGBH WHERE MaHD = @MaHD)
    BEGIN
        RAISERROR(N'Hợp đồng không tồn tại.', 16, 1);
        RETURN;
    END

    -- Xóa hợp đồng
    DELETE FROM HOPDONGBH WHERE MaHD = @MaHD;

    -- Ghi log hành động
    DECLARE @HanhDong NVARCHAR(100) = N'Xóa hợp đồng MaHD = ' + CAST(@MaHD AS NVARCHAR(10));
    
    EXEC SP_GHI_LOG 
        @MaNguoiDung = @MaNguoiDung,
        @HanhDong = @HanhDong;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NGUOIDUNG]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ========================================
-- Xóa người dùng (chỉ ADMIN được xóa)
-- ========================================
CREATE   PROCEDURE [dbo].[SP_XOA_NGUOIDUNG]
    @MaNguoiDungCanXoa INT,
    @MaNguoiDung INT  -- Người thực hiện (ADMIN)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra quyền admin
    IF NOT EXISTS (
        SELECT 1 FROM NGUOIDUNG WHERE MaNguoiDung = @MaNguoiDung AND VaiTro = 'ADMIN'
    )
    BEGIN
        RAISERROR(N'Bạn không có quyền xóa người dùng!', 16, 1);
        RETURN;
    END

    -- Kiểm tra người dùng cần xóa có tồn tại không
    IF NOT EXISTS (
        SELECT 1 FROM NGUOIDUNG WHERE MaNguoiDung = @MaNguoiDungCanXoa
    )
    BEGIN
        RAISERROR(N'Người dùng cần xóa không tồn tại!', 16, 1);
        RETURN;
    END

    -- Không cho phép tự xóa chính mình
    IF @MaNguoiDung = @MaNguoiDungCanXoa
    BEGIN
        RAISERROR(N'Bạn không thể tự xóa chính mình!', 16, 1);
        RETURN;
    END

    -- Xóa người dùng
    DELETE FROM NGUOIDUNG WHERE MaNguoiDung = @MaNguoiDungCanXoa;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_THANHTOAN]    Script Date: 28/05/2025 1:42:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_XOA_THANHTOAN]
    @MaThanhToan INT
AS
BEGIN
    DECLARE @CurrentUser INT;
    SELECT @CurrentUser = MaNguoiDung FROM NGUOIDUNG WHERE TenDangNhap = SUSER_SNAME();

    IF IS_ROLEMEMBER('KE_TOAN') = 1 OR IS_ROLEMEMBER('ADMIN') = 1
    BEGIN
        DELETE FROM THANHTOAN WHERE MaThanhToan = @MaThanhToan;

        EXEC SP_GHI_LOG @MaNguoiDung = @CurrentUser, @HanhDong = N'Xóa thanh toán thành công';
    END
    ELSE
    BEGIN
        RAISERROR(N'Bạn không có quyền thực hiện hành động này.', 16, 1);
    END
END
GO
